<%- include('partials/header') -%>
<div class="container">
    <h1>
        Blogs
        <div class="float-end py-2">
            <a class="btn btn-success btn-sm" href="/articles/create">Create</a>
        </div>
        <div class="clearfix"></div>
    </h1>
    <p>
        Welcome to my blog
    </p>
    <hr/>
    <div id="article-list">
    </div>
</div>
<script>
    function createArticleBlock(article) {
        let card = document.createElement("div");
        card.setAttribute("class", "card mb-2");

        let date = document.createElement("small");
        date.innerText = article.createdDate.substring(0, 10);

        let title = document.createElement("strong");
        title.setAttribute("class", "px-2");
        title.innerText = article.title;


        let cardHeader = document.createElement("div");
        cardHeader.setAttribute("class", "card-header");
        cardHeader.append(date);
        cardHeader.append(title);
        card.append(cardHeader);

        let cardBody = document.createElement("div");
        cardBody.setAttribute("class", "card-body");
        cardBody.innerText = article.content;
        card.append(cardBody);

        return card;
    }

    (function () {
        const list = document.getElementById('article-list');
        if (list === null) {
            return false;
        }

        fetch('/api/articles/list', {
            method: 'GET',
            headers: {
                'Content-Type': "application/json",
            }
        }).then((response) => {
            return response.json();
        }).then((response) => {
            if (response.errno === 0) {
                response.articles.forEach(function (article) {
                    list.append(createArticleBlock(article));
                });
            } else {
                alert(response.message);
            }
        }).catch((error) => {
            console.log(`Error: ${error}`);
        });

    })();
</script>
<%- include('partials/footer') -%>
